* {
    font-family: 'Times New Roman', Times, serif;
}

.header {
    min-height: 10vh;
}

main {
    background-color: #ddd;
    min-height: 90vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.article-card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-card-content {
    display: flex;
    justify-content: center;
}

.drag-block {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    cursor: grab;
}

.drop-box {
    width: 100%;
    min-height: 5rem;
    border: 2px solid grey;
    display: flex;
    padding: 0.1rem;
    box-sizing: border-box;
}

.side-bar {
    position: sticky;
    align-self: flex-start;
    top: 1rem;
}

.inputs {
    box-sizing: border-box;
    flex: 1;
    overflow: hidden;
}

.input-title {
    text-align: center;
    font-size: 2rem !important;
}

.input-headings {
    text-align: center;
    font-size: 1.5rem !important;
}

.inputs-img {
    width: 100%;
    height: auto;
}