.drag-block {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    cursor: grab;
}

.drop-box {
    width: 100%;
    min-height: 5rem;
    border: 2px solid grey;
    display: flex;
    padding: 0.1rem;
    box-sizing: border-box;
}

.side-bar {
    position: sticky;
    align-self: flex-start;
    top: 1rem;
}

.inputs {
    box-sizing: border-box;
    flex: 1;
}

.input-headings {
    text-align: center;
}

.inputs-img {
    width: 50%;
}